.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  border: 20px solid red;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  max-width: 640px;
  height: 80vw;
  max-height: 640px;
  background-color: green;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12.5%; /* 100% / 8 */
  height: 12.5%; /* 100% / 8 */
  border: 1px solid black;
}

.stone {
  width: 70%;
  height: 70%;
  border-radius: 50%;
}

.boxR {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  width: 20%;
  height: 100%;
}

.boxL {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  width: 20%;
  height: 100%;
}

.scoreBoard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: 128px;
  background-color: green;
}

.scoreBoard2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: 128px;
  background-color: green;
}

.scoreBoard3 {
  display: flex;
  align-items: center;
  width: 300px;
  height: 128px;
  background-color: black;
}

.scoreBoard5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 128px;
  background-color: black;
}

.scoreBoard6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 128px;
  background-color: black;
}

.scoreBoard4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 128px;
  background-color: red;
}

.score {
  width: 35%;
  height: 80%;
  background-color: black;
  border-radius: 60px;
}

.score2 {
  width: 35%;
  height: 80%;
  background-color: white;
  border-radius: 55px;
}

.count {
  width: 20%;
  height: 80%;
  font-size: 80px;
}
